
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Versão</b> 1.0.0 - alfa
    </div>
    <strong>Copyright &copy; 2019 <a href="https://github.com/TsplayerT/">TsplayerT</a> & <a href="https://github.com/Biablured/">Biablured</a>.</strong> Todos os direitos reservados.
</footer>
