@page
@model AcessoNegadoModel
@{
    ViewData["Title"] = "Acesso Negado";
}

<div class="login-box-body">
    <p class="login-box-msg">
        Você não tem acesso a este recurso. <br />
        Por favor clique<a asp-page="./Conectar">aqui</a> para conectar.
    </p>
</div>
