@page
@model BloqueadoModel
@{
    ViewData["Title"] = "Bloqueado";
}

<div class="login-box-body">
    <p class="login-box-msg text-danger">
        Esta conta foi bloqueada<br/>, por favor, tente novamente mais tarde
    </p>
    <p class="login-box-msg">
        Clique <a asp-page="./Conectar">aqui</a> para conectar novamente.
    </p>
</div>
