@page
@model ConectarComAutenticacaoModel
@{
    ViewData["Title"] = "Autenticação de dois fatores";
}

<div class="login-box-body">
    <p class="login-box-msg">Two-factor authentication</p>
    <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
        <input asp-for="RememberMe" type="hidden" />
        <div class="form-group has-feedback">
            <input asp-for="Input.TwoFactorCode" class="form-control" placeholder="Código" autocomplete="off">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            <span asp-validation-for="Input.TwoFactorCode" class="help-block"></span>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <div class="checkbox icheck">
                    <label>
                        <input asp-for="Input.RememberMachine" type="checkbox"> Lembre-se deste computador
                    </label>
                </div>
            </div>
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Log In</button>
            </div>
        </div>
    </form>

    <p>
        Não tem acesso ao seu dispositivo autenticador? Você pode
        <a asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl"> conectar com um código de recuperação</a>.
    </p>
</div>
