@page
@model ConfirmacaoEmailModel
@{
    ViewData["Title"] = "Confirmar email";
}
<div class="login-box-body">
    <p class="login-box-msg">
        Obrigado por confirmar seu email.<br />
        Por favor clique <a asp-page="./Conectar">aqui</a> para conectar.
    </p>
</div>
