@page
@model ConfirmacaoSenhaEsquecidaModel
@{
    ViewData["Title"] = "Redefinir confirmação";
}

<div class="login-box-body">
    <p class="login-box-msg">Verifique seu email para redefinir sua senha</p>
</div>
