@page
@model ConfirmacaoRedefinirSenhaModel
@{
    ViewData["Title"] = "Redefinir confirmação de senha";
}

<div class="login-box-body">
    <p class="login-box-msg">
        Sua senha foi alterada. <br />
        Por favor clique <a asp-page="./Conectar">aqui</a> para conectar.
    </p>
</div>
